assets/*
protected/runtime/*
protected/tests/report/*
protected/config/bootstrap.php
protected/config/console.php
protected/config/development.php
protected/config/production.php
protected/config/test.php
protected/config/common.php
nbproject/*
!.gitkeep
shared/*
